---
layout: scroll
title: Jerome Avenue, The Bronx
subhead: 
hero: https://github.com/jacobdecastro/25x25/blob/main/assets/images/IMG_6054.JPG?raw=true
js: assets/js/config-bx.js
permalink: bronx
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>Jerome Avenue is a vital Bronx thoroughfare and 167th Street and Edward L. Grant Highway are key crosstown connectors.</h3>
                <p><strong>Why we chose this site:</strong> Everyday, 22,000 daily transit riders on the <a target="_blank" href="https://www1.nyc.gov/html/brt/downloads/pdf/bx-cb4-projects-feb052020.pdf">Bx35</a> cross this intersection to connect to three subway lines or eight other bus routes, but often move at a snail&rsquo;s pace mired in constant congestion. Other critical issues here include frequent double parking and loading, and high asthma rates due to air pollution.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>&#128161; We say: It doesn't have to be this way</h2>
                <p>This is one of the most dangerous sites in New York City. Simplifying the intersections significantly reduce conflict points while creating an expansive new pedestrian plazas with enough space for secure bike parking, trees, and seasonal or temporary programming.</p>
            </div>
        </div>
    </div>
    <div class=" imgbreak" style="width: 100%; overflow-x: hidden;">
        <div class="row d-flex justify-content-center">
            <div class="">
                <script src="https://fast.wistia.com/embed/medias/x6xyhccc0a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:45.83% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_x6xyhccc0a videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/x6xyhccc0a/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 24px;">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>&#128227; Actionable design recommendations</h3>
                <p>Based on the needs and problems that we heard from Transportation Alternatives members across the city who spend time along Atlantic Avenue, here are the top three implementation-focused strategies we recommend for this site &mdash; explored above in the video and below in more detail.</p>
                <div class="d-flex justify-content-center" style="padding-top: 16px; padding-bottom: 16px;">
                    <a href="#" target="_blank"><button class="btn btn-primary" style="margin-right: 8px; margin-bottom: 8px;">View interactive designs</button></a>
                     <a href="#" target="_blank"><button class="btn btn-secondary">View public comments</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- design rec 1 -->
    <section style="overflow-x: hidden;">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Brooklyn%20redesign%201.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Brooklyn%20redesign%201.png?raw=true" width="100%" class="d-lg-none d-xl-none d-md-none" alt="rendering of atlantic and flatbush ave with bus and bike lanes">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #f15d22; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">1. Reclaim Flatbush Avenue as space for people</h3>
                    <p>This is one of the most dangerous sites in New York City. We propose closing off of the slip lane at Flatbush to simplify the overall intersection and add back half an acre of space as public space. A two-way cycle track adds much-needed access for the numerous Citi Bike stations already sited here, and secure bike storage lowers the barrier for people to ride their own bicycles to the subway. A transit priority lane prevents many connecting bus lines from sitting in congestion.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- design rec 2 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-5 order-sm-12" class="orangebg" style="padding: 3%; background-color: #ffc20e; color: #414042">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">2. Expand and reconnect Lowry Triangle</h3>
                    <p>Today, Lowry Triangle abuts a complex intersection on a corridor with high levels of traffic violence, pollution, flooding, and with little greenery. By reimagining this area, we can simplify the intersection, expand and reconnect the park, and create space for greenery that will absorb and minimize pollutants, noise, floodwater, and summer heat.</p>
                </div>
            </div>
            <div class="col-md-7 order-sm-1" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Brooklyn%20redesign%202.png?raw=true); background-size: cover; background-position: top;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Brooklyn%20redesign%202.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of protected bike lanes and more green space">
            </div>
        </div>
    </section>
    <!-- design rec 3 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Brooklyn%20redesign%203.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Brooklyn%20redesign%203.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of bike super highway on atlantic">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #3e6f20; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">3. Opportunity for NYC’s first protected intersection and bike super highway</h3>
                    <p>The overwhelming majority of cyclist fatalities and serious injuries occur at intersections. This could be the site of the city’s first fully protected intersection, separating cyclists from turning vehicles and reducing the probability of vehicle-bicycle crashes by 45%. We also propose using extra street width to build a beautiful center-running bike super highway.</p>
                </div>
            </div>
            
        </div>
    </section>

    <!-- links -->
    <div class="container">
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/brooklyn.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> Brooklyn </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/manhattan.html" target="_self"><button type="button" class="btn btn-outline-secondary">Manhattan <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
