---
layout: scroll
title: Atlantic Avenue, Brooklyn
subhead: Atlantic Avenue in Brooklyn is the site of high levels of traffic violence, especially at high traffic intersections such as Flatbush Avenue, Fort Greene Place, and 4th Avenue.
hero: https://github.com/jacobdecastro/25x25/blob/main/assets/images/DSC_0206.jpeg?raw=true
js: assets/js/config-bk.js
permalink: brooklyn
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>This dangerous 117-foot wide corridor is bordered by huge crowds on narrow sidewalks, and while there are Citi Bike stations, there is no protected bike infrastructure.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>We say: It doesn't have to be this way</h2>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
    </div>
    <div class="container imgbreak">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
        <!-- <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
            <h3 style="color: white; font-weight: 400">Full rendering</h3>
        </div> -->

                <script src="https://fast.wistia.com/embed/medias/x6xyhccc0a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:45.83% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_x6xyhccc0a videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/x6xyhccc0a/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 1</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 2</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 3</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/streets-remix.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> About the project </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/bronx.html" target="_self"><button type="button" class="btn btn-outline-secondary">The Bronx <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
