---
layout: scroll
title: Atlantic Avenue, Brooklyn
subhead: How to Use Collaborative Planning to Quickly Transform Space for Cars into Space for People
hero: https://raw.githubusercontent.com/jacobdecastro/25x25/f1a76bda2a5fdeff604984978d30f3fcd754dafa/assets/images/orange.svg
js: assets/js/config-bk.js
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 1.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>Test content</h3>
                <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>Test content</h3>
                <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</body>
</html>
