---
layout: scroll
title: Jerome Avenue, The Bronx
subhead: 
hero: https://github.com/jacobdecastro/25x25/blob/main/assets/images/IMG_6054.JPG?raw=true
js: assets/js/config-bx.js
permalink: bronx
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>Jerome Avenue is a vital Bronx thoroughfare and 167th Street and Edward L. Grant Highway are key crosstown connectors.</h3>
                <p><strong>Why we chose this site:</strong> Everyday, 22,000 daily transit riders on the <a target="_blank" href="https://www1.nyc.gov/html/brt/downloads/pdf/bx-cb4-projects-feb052020.pdf">Bx35</a> cross this intersection to connect to three subway lines or eight other bus routes, but often move at a snail&rsquo;s pace mired in constant congestion. Other critical issues here include frequent double parking and loading, and high asthma rates due to air pollution.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>&#128161; We say: It doesn't have to be this way</h2>
                <p>Jerome Avenue at 167th Street is reimagined so that it prioritizes safety and sustainable modes. The new green public space counters the existing higher-than-average air pollution, asthma rates, flooding, surface-level summer temperatures, and fatal traffic crashes.</p>
            </div>
        </div>
    </div>
    <div class=" imgbreak" style="width: 100%; overflow-x: hidden;">
        <div class="row d-flex justify-content-center">
            <div class="">
                <script src="https://fast.wistia.com/embed/medias/xxmhxla07j.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_xxmhxla07j videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 24px;">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>&#128227; Actionable design recommendations</h3>
                <p>Based on the needs and problems that we heard from Transportation Alternatives members in the Bronx, here are the top three implementation-focused strategies we recommend for this site &mdash; explored above in the video and below in more detail.</p>
                <div class="d-flex justify-content-center" style="padding-top: 16px; padding-bottom: 16px;">
                    <a href="#" target="_blank"><button class="btn btn-primary" style="margin-right: 8px; margin-bottom: 8px;">View interactive designs</button></a>
                     <a href="#" target="_blank"><button class="btn btn-secondary">View public comments</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- design rec 1 -->
    <section style="overflow-x: hidden;">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Bronx%20redesign%201.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Bronx%20redesign%201.png?raw=true" width="100%" class="d-lg-none d-xl-none d-md-none" alt="rendering of a car-free safe route to school">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #f15d22; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">1. Car-free safe routes to school</h3>
                    <p>School streets are an integral part of Safe Routes to School. The City can prioritize the health, safety, and wellbeing of children, parents, teachers and school staff by creating a car-free space outside their school. Being struck by a car is the leading cause of injury-related death for children under 14, and 75 percent of New York’s school-aged children are not driven to school. Designate Cromwell as School Bus Only and create a School Bus Drop Off location on Jerome.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- design rec 2 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-5 order-sm-12" class="orangebg" style="padding: 3%; background-color: #ffc20e; color: #414042">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">2. A better busway</h3>
                    <p>East 167th Street is an especially vital east-west corridor for bus riders and cyclists in the Bronx. On this block, the MTA reports a bus speed average of 5mph, and the bike lane is usually filled with parked vehicles. This redesign improves on the Manhattan’s 14th Street busway model, prioritizing and encouraging the use of sustainable modes while maintaining truck access to local businesses.</p>
                </div>
            </div>
            <div class="col-md-7 order-sm-1" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Bronx%20redesign%202.png?raw=true); background-size: cover; background-position: center;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Bronx%20redesign%202.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of a road for buses and deliveries only">
            </div>
        </div>
    </section>
    <!-- design rec 3 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Bronx%20redesign%203.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Bronx%20redesign%203.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of trees and bike lane on jerome">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #3e6f20; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">3. Trees and bioswales for resilience</h3>
                    <p>This neighborhood, which is in a Vision Zero Priority Area for its high number of crashes, also has few trees, sees asthma-induced hospitalizations four times more than the citywide average, and is prone to flooding. By simplifying the intersection and expanding space for greenery, this redesign centers health and safety. Simplify the intersection and create a pedestrian plaza with trees, bioswales, seating, and parking for bikes and micromobility.</p>
                </div>
            </div>
            
        </div>
    </section>

    <!-- links -->
    <div class="container">
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                {% include cta.html %}
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/brooklyn.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> Brooklyn </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/manhattan.html" target="_self"><button type="button" class="btn btn-outline-secondary">Manhattan <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>
