---
layout: scroll
title: Jerome Avenue, The Bronx
subhead: Jerome Avenue is a vital Bronx thoroughfare and 167th Street and Edward L. Grant Highway are key crosstown connectors.
hero: https://github.com/jacobdecastro/25x25/blob/main/assets/images/IMG_6054.JPG?raw=true
js: assets/js/config-bx.js
permalink: bronx
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>Everyday, 22,000 daily transit riders on the <a target="_blank" href="https://www1.nyc.gov/html/brt/downloads/pdf/bx-cb4-projects-feb052020.pdf">Bx35</a> cross this intersection to connect to three subway lines or eight other bus routes, but often move at a snail&rsquo;s pace mired in constant congestion. Other critical issues here include frequent double parking and loading, and high asthma rates due to air pollution.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>We say: It doesn't have to be this way</h2>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
    </div>
    <div class="container imgbreak">
        <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
            <h3 style="color: white; font-weight: 400">Full rendering</h3>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 1</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 2</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 3</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/brooklyn.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> Brooklyn </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/manhattan.html" target="_self"><button type="button" class="btn btn-outline-secondary">Manhattan <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
