---
layout: scroll
title: 125th Street, Manhattan
subhead: 
hero: https://images.unsplash.com/photo-1566423890768-7aa09120fce5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80
js: assets/js/config-mn.js
permalink: manhattan
---

{% include hero.html %}
{% include remixNav.html %}

<!-- <div class="p1-body reportStyle" style="padding-bottom: 1.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>Test content</h3>
                <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>We say: It doesn't have to be this way</h2>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
    </div>
    <div class="container imgbreak">
        <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
            <h3 style="color: white; font-weight: 400">Full rendering</h3>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 1</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 2</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 3</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/bronx.html"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> The Bronx </button></a>
                    <a href="#top"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/queens.html"><button type="button" class="btn btn-outline-secondary">Queens <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
