---
layout: scroll
title: 125th Street, Manhattan
subhead: 
hero: https://github.com/jacobdecastro/25x25/blob/main/assets/images/IMG_7097.JPG?raw=true
js: assets/js/config-mn.js
permalink: manhattan
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>125th is a heavily congested commercial destination in Harlem, as well as a critical connector for bus riders, bike riders, and people accessing bridges to other boroughs.</h3>
                <p><strong>Why we chose this site:</strong> The problem here is a street plagued by an inequitable distribution of street space. What results are long commutes for bus riders, insufficient infrastructure for cyclists, widespread air pollution, and high rates of traffic violence.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>&#128161; We say: It doesn't have to be this way</h2>
                <p>New York City’s buses are the slowest in the nation, but when the new 14th Street Busway in Manhattan was implemented, it increased bus speeds by as much as 24 percent and ridership by as much as 30 percent. 125th Street is reimagined as a true commercial backbone with this recent win in mind. We embrace a center-running bus lane which makes room for a two-way cycle track on the south side, while still retaining one travel lane in each direction in addition to delivery and loading zones.</p>
            </div>
        </div>
    </div>
    <div class=" imgbreak" style="width: 100%; overflow-x: hidden;">
        <div class="row d-flex justify-content-center">
            <div class="">
                <script src="https://fast.wistia.com/embed/medias/90rjedsacm.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_90rjedsacm videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 24px;">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>&#128227; Actionable design recommendations</h3>
                <p>Based on the needs and problems that we heard from Transportation Alternatives members in Manhattan, here are the top three implementation-focused strategies we recommend for this site &mdash; explored above in the video and below in more detail.</p>
                <div class="d-flex justify-content-center" style="padding-top: 16px; padding-bottom: 16px;">
                    <a href="#" target="_blank"><button class="btn btn-primary" style="margin-right: 8px; margin-bottom: 8px;">View interactive designs</button></a>
                     <a href="#" target="_blank"><button class="btn btn-secondary">View public comments</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- design rec 1 -->
    <section style="overflow-x: hidden;">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Manhattan%20redesign%201.png?raw=true); background-size: cover; background-position: center;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Manhattan%20redesign%201.png?raw=true" width="100%" class="d-lg-none d-xl-none d-md-none" alt="rendering of 125th with a center bus lane">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #f15d22; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">1. Center-running bus lanes</h3>
                    <p>Bus lanes ensure that disproportionately low-income and BIPOC bus riders aren’t stuck in the traffic created by private vehicles. We propose the city install center-running bus lanes to minimize double parking and delays by private vehicles, and allow for a cycle track.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- design rec 2 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-5 order-sm-12" class="orangebg" style="padding: 3%; background-color: #ffc20e; color: #414042">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">2. Greenery to combat high pollution and asthma</h3>
                    <p>In times of extreme weather, trees increase a city’s resiliency. During summer heat, their shade can lower surface temperatures by up to 20°C, and during heavy rain, a single street tree can reduce runoff by around 60 percent. Throughout the year, they also clean the air: one tree can remove 26 pounds of carbon dioxide from the atmosphere annually.</p>
                </div>
            </div>
            <div class="col-md-7 order-sm-1" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Manhattan%20redesign%202.png?raw=true); background-size: cover; background-position: top;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Manhattan%20redesign%202.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of protected bike lanes and more green space">
            </div>
        </div>
    </section>
    <!-- design rec 3 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Manhattan%20redesign%203.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Manhattan%20redesign%203.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of bike parking and secure bike storage">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #3e6f20; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">3. Containerized trash and secure bike storage</h3>
                    <p>A parking space which once stored a single car can instead hold waste receptacles or secure bike parking. Moving trash from piles on the sidewalk to sturdy containers in the street will increase pedestrian space, ease the work of sanitation workers, and reduce rat populations, while creating secure bike parking will expand access and reduce maintenance costs for bike owners.</p>
                </div>
            </div>
            
        </div>
    </section>

    <!-- links -->
    <div class="container">
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                {% include cta.html %}
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/bronx.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> The Bronx </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/queens.html" target="_self"><button type="button" class="btn btn-outline-secondary">Queens <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>
