---
layout: scroll
title: Northern Boulevard, Queens
subhead: 
hero: https://github.com/jacobdecastro/25x25/blob/main/assets/images/IMG_5828.jpg?raw=true
js: assets/js/config-qn.js
permalink: queens
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>“Downtown Flushing and its vicinity account for among the densest concentration of pedestrians killed or severely injured in the borough,” according to <a href="http://www.nyc.gov/html/dot/downloads/pdf/ped-safety-action-plan-queens.pdf" target="_blank">NYC DOT</a>.</h3>
                <p><strong>Why we chose this site:</strong> Sitting across from Flushing and Queens High Schools, NYPD, and the YMCA, the intersection of Northern Boulevard and Union Street ranks in the top 20 percent most dangerous based on the number of fatalities and severe injuries due to car crashes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>&#128161; We say: It doesn't have to be this way</h2>
                <p>Flushing is an extremely vibrant, pedestrian-heavy community - let’s design the streetscape to reflect that. From the east, Northern Boulevard expands to the width of a highway just as it approaches popular downtown Flushing, resulting in extremely high driver-pedestrian crashes and splitting the neighborhood.</p>
            </div>
        </div>
    </div>
    <div class=" imgbreak" style="width: 100%; overflow-x: hidden;">
        <div class="row d-flex justify-content-center">
            <div class="">
                <script src="https://fast.wistia.com/embed/medias/x6xyhccc0a.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:45.83% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_x6xyhccc0a videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/x6xyhccc0a/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 24px;">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>&#128227; Actionable design recommendations</h3>
                <p>Based on the needs and problems that we heard from Transportation Alternatives members in Queens, here are the top three implementation-focused strategies we recommend for this site &mdash; explored above in the video and below in more detail.</p>
                <div class="d-flex justify-content-center" style="padding-top: 16px; padding-bottom: 16px;">
                    <a href="#" target="_blank"><button class="btn btn-primary" style="margin-right: 8px; margin-bottom: 8px;">View interactive designs</button></a>
                     <a href="#" target="_blank"><button class="btn btn-secondary">View public comments</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- design rec 1 -->
    <section style="overflow-x: hidden;">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Queens%20redesign%201.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Queens%20redesign%201.png?raw=true" width="100%" class="d-lg-none d-xl-none d-md-none" alt="rendering of plaza on northern boulevard's median">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #f15d22; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">1. Transform a median into a memorial</h3>
                    <p>Let’s take advantage of Northern Boulevard’s expansive median space here by embracing public space with greenery, benches, and tables. By maintaining a constant travel lane width through Flushing, we can create something unique to the community along the corridor that includes the often-overlooked Flushing Memorial.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- design rec 2 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-5 order-sm-12" class="orangebg" style="padding: 3%; background-color: #ffc20e; color: #414042">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">2. Design for parking where it’s necessary</h3>
                    <p>Many users of this street expressed concern about the police cars that frequently park on the sidewalk and block access, so we propose dedicating space exclusively to NYPD parking while protecting safe pedestrian passage with tactical infrastructure.</p>
                </div>
            </div>
            <div class="col-md-7 order-sm-1" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Queens%20redesign%202.png?raw=true); background-size: cover; background-position: top;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Queens%20redesign%202.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of bus lane and parking">
            </div>
        </div>
    </section>
    <!-- design rec 3 -->
    <section style="overflow-x: hidden; padding-top: 4%">
        <div class="row no-gutters " style="">
            <div class="col-md-7" style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Queens%20redesign%203.png?raw=true); background-size: cover; background-position: bottom;">
                <img src="https://github.com/jacobdecastro/25x25/blob/main/assets/images/redesign/Queens%20redesign%203.png?raw=true" width="100%" class="d-lg-none d-xl-none" alt="rendering of bike and bus lane on street with turn restrictions">
            </div>
            <div class="col-md-5" class="orangebg" style="padding: 3%; background-color: #3e6f20; color: white">
                <div class="proposaltext" class="orangebg">
                    <h3 style="">3. Bus and bike lane harmony</h3>
                    <p>Union Street has the potential to be a complete street. Compared to a car lane, a bike lane can move seven times more people per hour while a bus lane can move upwards of 25 times more people. Not only do bus and bike lanes create safer streets for all road users, but they also encourage bike and bus ridership which means less congestion, including for those who need to drive. Design bus and bike lane infrastructure so they are separated for safety but work together intentionally.</p>
                </div>
            </div>
            
        </div>
    </section>

    <!-- links -->
    <div class="container">
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                {% include cta.html %}
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/manhattan.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> Manhattan </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    <a href="{{ site.baseurl }}/statenisland.html" target="_self"><button type="button" class="btn btn-outline-secondary">Staten Island <i class="bi bi-chevron-right"></i></button></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
