---
layout: scroll
title: Midland Field, Staten Island
subhead: We chose this site because there are two schools bounded by three Vision Zero Priority corridors.
hero: https://raw.githubusercontent.com/jacobdecastro/25x25/663804be8115c0983e8bdc0fcfa254f9126a2e38/assets/images/orange.svg
js: assets/js/config-si.js
permalink: statenisland
---

{% include hero.html %}
{% include remixNav.html %}

<div class="p1-body reportStyle" style="padding-bottom: 2.5em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h3>The corrdidors are: Midland Avenue (101 reported injuries due to car crashes in the past five years), Lincoln Avenue (81 injuries), and Hylan Boulevard (also known as Staten Island&rsquo;s "Boulevard of Death" as it accounts for nearly <a href="https://www.silive.com/news/2021/05/hylan-boulevard-accounts-for-nearly-13-of-si-traffic-deaths-since-mid-2012-data-shows.html#:~:text=24%20DEATHS%20REPORTED,street%20for%20the%20remaining%20four." target="_blank">one-third of SI&rsquo;s traffic deaths</a> since 2012.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

<div>
    <div id="map"></div>
    <div id="story"></div>
</div>

<div class="p1-body reportStyle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <h2>We say: It doesn't have to be this way</h2>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
    </div>
    <div class="container imgbreak">
        <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
            <h3 style="color: white; font-weight: 400">Full rendering</h3>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 1</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 2</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top: 1.5em">
            <div class="col-md-4">
                <div style="background: #3E6F1F; height: 350px; width: 100%;" class="d-flex justify-content-center align-items-center">
                    <h3 style="color: white; font-weight: 400">Full rendering</h3>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top: 0; padding-top: 0;">Improvement 3</h3>
                <p>Atlantic Avenue is 117 feet wide. Over 80% of this public space is dedicated to moving or storing vehicles, 18% for pedestrians, 0% for buses, and 0% for cyclists. The avenue’s car and parking lanes stretch 94 feet, which could fit a nine-lane highway.</p>
            </div>
        </div>
      <div class="row justify-content-center">
            <div class="col-md-8 reportStyle">
               <div class="reportbtn d-flex justify-content-between">
                    <a href="{{ site.baseurl }}/queens.html" target="_self"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> Queens </button></a>
                    <a href="#top" target="_self"><button type="button" class="btn btn-outline-secondary">Back to top</button></a>
                    
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
