<section class="" style="margin-top: 3em;">
	<div class="card border-secondary mb-3" style="border: ">
		<div class="card-body" style="padding: 2em">
	    	<h5 class="card-title" style="text-align:"><strong>If you believe in this future for New York City, join TA today.</strong></h5>
	    	<p style="font-family: 'Montserrat', system-ui, sans-serif;">Your donation enables TA to harness the power of the grassroots to make our streets safer, more livable, and more vibrant for all New Yorkers.</p>
	    	<a href="https://support.transalt.org/give/327420/#!/donation/checkout" class="" style="margin: 0 auto" target="_blank"><button class="btn btn-primary">Donate</button></a>
		</div>
	</div>
</section>