<div style="background-color: #f15d22">
    <img src="{{page.hero}}" style="width: 100%; height: 60vh; object-fit: cover; filter: brightness(65%); border: none; ">
  <div class="image-2">
    <div class="container" style="position: absolute;  top: 45%; left: 50%; transform: translate(-50%, -50%); color: white;">
      <div class="main-hero d-flex justify-content-center align-items-center">
        <div class="col-md-10">
          <h1 style="padding-bottom: 16px;" >{{page.title}}</h1>
          <h3 style="padding-bottom: 16px;">{{page.subhead}}</h3>
          {% if page.btn %}
            <a href="{{page.btn-link}}" target="_blank"><button class="btn btn-success btn-lg" type="button">{{page.btn}}</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>