<header>
	<div class="header">
      	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <div class="container-fluid">
	          <a class="navbar-brand" href="{{ site.baseurl }}/">
	            <img src="{{ site.baseurl }}/assets/images/25.svg" alt="" width="" height="48" class="d-inline-block align-text-top" style="margin-right: 8px;"></a>
	          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	          </button>
	          <div class="collapse navbar-collapse" id="navbarText">
	            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	              <li class="nav-item">
	                <a class="nav-link" aria-current="page" href="{{ site.baseurl }}/index.html"><span class=" nav-link-border">Home</span></a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="{{ site.baseurl }}/25x25report.html"><span class="nav-link-border">Report</span></a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="{{ site.baseurl }}/faq.html"><span class="nav-link-border">FAQ</span></a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="{{ site.baseurl }}/coalition.html"><span class="nav-link-border">Coalition</span></a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="{{ site.baseurl }}/illustrated.html"><span class="nav-link-border">Illustrated</span></a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="{{ site.baseurl }}/streets.html"><span class="nav-link-border">Streets</span></a>
	              </li>
	            </ul>
	            <a href="https://support.transalt.org/give/327420/#!/donation/checkout" target="_blank"><button type="button" class="btn btn-primary header-btn">Donate</button></a>
	            <a href="{{ site.baseurl }}/coalition.html" target="_blank"><button type="button" class="btn btn-primary header-btn" style="margin-left: 5px;">Join us</button></a>
	          </div>
	        </div>
      	</nav>
    </div>
</header>
