    <nav class="navbar navbar-expand-lg navbar-light border-bottom sticky-top" style="float: none; text-align: center; margin: 0 auto; display: block; background-color: rgba(255,255,255,.95); z-index: 100000; padding-top: 0; padding-bottom: 0; height: ">
    <button class="navbar-toggler" type="menu" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none; padding-top: 2%; padding-bottom: 2%; font-family: 'Montserrat', system-ui, sans-serif; color: black">
      <em>25x25</em> Streets Menu
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link py-0" aria-current="page" href="{{ site.baseurl }}/streets-remix.html"><span class="nav-link-border secondaryNav">About the project</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="{{ site.baseurl }}/brooklyn.html"><span class="nav-link-border secondaryNav">Brooklyn</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="{{ site.baseurl }}/bronx.html"><span class="nav-link-border secondaryNav">The Bronx</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="{{ site.baseurl }}/manhattan.html"><span class="nav-link-border secondaryNav">Manhattan</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="{{ site.baseurl }}/queens.html"><span class="nav-link-border secondaryNav">Queens</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="{{ site.baseurl }}/statenisland.html"><span class="nav-link-border secondaryNav">Staten Island</span></a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Site studies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link dropdown-item" href="#">Atlantic Avenue, Brooklyn</a></li>
            <li><a class="nav-link dropdown-item" href="#">Jerome Avenue, the Bronx</a></li>
            <li><a class="nav-link dropdown-item" href="#">125th St, Manhattan</a></li>
            <li><a class="nav-link dropdown-item" href="#">Northern Boulevard, Queens</a></li>
            <li><a class="nav-link dropdown-item" href="#">Hylan Boulevard, Staten Island</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/streets-Methodology.html"><span class="nav-link-border">Methodology</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>