    <nav class="navbar navbar-expand-lg navbar-light border-bottom sticky-top" style="float: none; text-align: center; margin: 0 auto; display: block; background-color: rgba(255,255,255,.95); z-index: 100000; padding-top: 0; padding-bottom: 0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none; padding-top: 2%; padding-bottom: 2%; font-family: 'Montserrat', system-ui, sans-serif; color: #414042">
      Report Menu
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link py-0 disabled" target="_self" href=""><span class="nav-link-border secondaryNav" style="color: #f15d22; font-weight: 700">REPORT</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/25x25report.html"><span class="nav-link-border secondaryNav">The Challenge</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/what-we-can-build.html"><span class="nav-link-border secondaryNav">What We Can Build</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/benefit.html"><span class="nav-link-border secondaryNav">Who Will Benefit</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/evidence.html"><span class="nav-link-border secondaryNav">Evidence</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/implementation.html"><span class="nav-link-border secondaryNav">Implementation</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/future.html"><span class="nav-link-border secondaryNav">Our Future</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" target="_self" href="{{ site.baseurl }}/methodology.html"><span class="nav-link-border secondaryNav">Methodology</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>