---
title: 25x25
layout: default
hero: /assets/images/home/25.jpg
---

{% include hero_main.html %}

<div class="p1-body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="home-h2">What if we all had more space?</h2>
            <h2 class="home-h2">With less space for cars, <span class="orange-underline">we can</span>.</h2>
            <div class="body-section">
              <p><strong>New York City’s streets and sidewalks</strong> make up our largest public space. But more than 75 percent of that space is devoted to driving and free storage for cars — even though a minority of New Yorkers own a car, fewer than one in four drive to work, and the vast majority of us walk, bike, and take transit to get where we need to go.</p>
              <p><strong>Is this the best use of our streets? We say no.</strong></p>
              <p>Streets should serve the needs of all New Yorkers. If we convert one-quarter of current car space into space for people, every New Yorker could live within a quarter-mile of a protected bus lane, protected bike lane, and public green space — and that’s just the start. (Read more.)</p>
              <p><strong>Our challenge to New York City’s next leaders is this: How will you give the streets back to people?</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image-break" id="video">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//Tkculqh0Ha8' frameborder='0' allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 4em;">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="card" style="margin-bottom: 2em; border-radius: 0;">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600">How to Give Streets Back to People</h5>
              <p class="card-text">We can reimagine our largest public asset — our streets — in support of the needs of all New Yorkers.</p>
              <a href="{{ site.baseurl }}/25x25report.html" class="btn btn-primary">Read the report</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="margin-bottom: 2em; border-radius: 0;">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600">Shovel-Ready <em>NYC 25x25</em> Streets</h5>
              <p class="card-text">How to use collaborative planning to quickly transform space for cars into space for people.</p>
              <a href="{{ site.baseurl }}/streets.html" class="btn btn-primary">See the streets</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
