---
layout: default
---

<div style="background-image: url(https://github.com/jacobdecastro/25x25/blob/main/assets/GIFs/ezgif.com-gif-maker-3.gif?raw=true); color: white; background-size: cover; background-position: center center;">
  <div class="image-2">
    <div class="container">
      <div class="main-hero d-flex justify-content-center align-items-center">
        <div class="col-md-10">
          <h1 style="padding-bottom: 16px;" >A vision for a better New York City</h1>
                <h3 style="padding-bottom: 24px;">We can reimagine our largest public asset — our streets — in support of the needs of all New Yorkers.</h3>
                
        </div>
      </div>
    </div>
  </div>
</div>

{% include reportNav.html %}

<div class="p1-body reportStyle">
	<div class="container">
        <div class="row justify-content-center">
          	<div class="col-md-8 reportStyle">
            	{{ content }}
          	</div>
          </div>
        </div>
      </div>
    </div>
   
</div>
